credentials.json
secrets.json
__pycache__/base_logger.cpython-313.pyc
__pycache__/main.cpython-313.pyc
lmsapi/__pycache__/__init__.cpython-313.pyc
lmsapi/__pycache__/book.cpython-313.pyc
lmsapi/__pycache__/connection_client.cpython-313.pyc
lmsapi/__pycache__/context_api.cpython-313.pyc
lmsapi/__pycache__/data_client.cpython-313.pyc
lmsapi/__pycache__/lend_client.cpython-313.pyc
lmsapi/__pycache__/lend_model.cpython-313.pyc
lmsapi/__pycache__/misc.cpython-313.pyc
lmsapi/__pycache__/sheet_names.cpython-313.pyc
lmsapi/__pycache__/worksheet_client.cpython-313.pyc
gui/__pycache__/services.cpython-313.pyc
qr_generator/__pycache__/__init__.cpython-313.pyc
qr_generator/__pycache__/qr_book_model.cpython-313.pyc
qr_generator/__pycache__/qr_generator.cpython-313.pyc
